/* Main App */
.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-body {
    flex: 1;
    display: grid;
    grid-template-columns: 240px minmax(0, 1fr);
}

/* Top Header */

header a img{
    width: 200px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-lg);
    align-items: center;
}

.search-bar{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.profile-section{
    display: flex;
    flex-direction: row;
}

/* Sidebar Section */

aside{
    padding: var(--spacing-xl);
    margin: var(--spacing-lg);
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
}

.nav-item{
    padding: var(--spacing-lg);
    margin: var(--spacing-sm);
    list-style: none;
    text-align: center;
}


/* Main Content */
.main-content {
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.dashboard-intro{
    margin: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
}

.summary-section{
    margin: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
}

.summary-cards{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* .summary-card{
    display: grid;
    grid-template-columns: 88px minmax(0, 1fr) 120px;
    align-items: center;
    border: 2px solid var(--color-border);
    padding: var(--spacing-lg);
    margin: var(--spacing-sm);

    border-radius: var(--radius-lg);
}

.summary-card img:first-child{
    width: 88px;
}

.summary-card img:last-child{
    width: 120px;
} */

.summary-card {
    display: grid;
    grid-template-columns: 72px minmax(0, 1fr) 90px;
    align-items: center;
    column-gap: var(--spacing-sm);

    border: 2px solid var(--color-border);
    padding: var(--spacing-md);
    margin: var(--spacing-sm);
    border-radius: var(--radius-lg);
}

.summary-card img:first-child {
    width: 72px;
}

.summary-card img:last-child {
    width: 90px;
}

.summary-card:nth-child(1) {
    background-color: #ECF3FD;
}

.summary-card:nth-child(2) {
    background-color: #EDFCF3;
}

.summary-card:nth-child(3) {
    background-color: #FEF9F0;
}

.summary-card:nth-child(4) {
    background-color: #F6F0FE;
}


.summary-card-information{
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.change-comparison{
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.summary-value{
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
}

.dashboard-row-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dashboard-row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}